<form>
    <div>
        <h2>LOGIN</h2>
        <dl>
            <dt>USER NAME</dt>
            <dd><input type="text" /></dd>
            <dt>PASSWORD</dt>
            <dd><input type="password"></dd>
        </dl>
        <button>LOGIN</button>
    </div>
</form>

